* {
    margin: 0;
    padding: 0;
    font-family: torus;
    color: white;
    user-select: none;
}

html {
    background-image: url('https://source.unsplash.com/1600x900/?chessboard');
    overflow: hidden;
    background-color: black;
}

.sidebarNavigation {
    padding: 5px;
    background: #3d3d3d;
    height: 100vh;
    box-sizing: border-box;
    width: 50px;
    float: left;
}

.mainContent {
    width: calc(100vw - 50px);
    box-sizing: border-box;
    float: right;
}

.gameInfo {
    height: 100vh;
    background: #2d2d2d;
    width: 300px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.chessTable {
    width: calc(100vw - 300px - 50px);
    box-sizing: border-box;
    float: right;
    height: 100vh;
    display: flex;
    background: #1d1d1ddd;
    backdrop-filter: blur(15px);
}
.homeMenu {
    width: calc(100vw - 300px - 50px);
    box-sizing: border-box;
    float: right;
    padding: 20px;
    height: 100vh;
    background: #1d1d1ddd;
    backdrop-filter: blur(15px);
    overflow: auto;
}

.qrodexIcon {
    width: 100%;
}

#confetti-canvas {
    position: absolute;
}

.sidebarNavigation button {
    background: none;
    border: none;
    width: 100%;
    height: 40px;
    font-size: 100%;
    margin-bottom: 5px;
}


.sidebarNavigation button i {
    color: gray;
}

.sidebarNavigation button:hover i {
    color: white;
}

.sidebarNavigation hr {
    border: gray solid 1px;
    margin-bottom: 5px;
}

details {
    background: #3d3d3d;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.botstatus {
    background: #2d2d2d;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: #3d3d3d solid 1px;
}

.board-b72b1 {
    border-radius: 5px;
}

.redCircle {
    padding: 10px;
    display: inline-block;
    background-color: #ff0000;
    border-radius: 50%;
    width: 13px;
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
    height: 13px;
    color: #fff;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #4d4d4d;
    border: 0px none #ffffff;
    border-radius: 5;
}

::-webkit-scrollbar-thumb:hover {
    background: #5d5d5d;
}

::-webkit-scrollbar-thumb:active {
    background: #4d4d4d;
}

::-webkit-scrollbar-track {
    background: #3d3d3d;
    border: 0px none #ffffff;
}

::-webkit-scrollbar-track:hover {
    background: #3d3d3d;
}

::-webkit-scrollbar-track:active {
    background: #3d3d3d;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
.statsBio {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.leaderboardStats img {
    vertical-align: middle;
    border-radius: 50%;
}
.leaderboardStats {
    margin-top: 10px;
}
.label-gm {
    padding: 3px;
    background-color: #ff0000;
    max-width: fit-content;
    border-radius: 10px;
    display: inline-block;
    font-weight: 700;
}
.elo-rating {
    font-weight: 200;
}
.aiBootDialog {
    position: absolute;
    float: right;
    width: calc(100vw - 300px - 50px);
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    background: #1d1d1dab;
    place-items: center;
    justify-content: center;
    margin-left: 300px;
    backdrop-filter: blur(15px);
}
.centersection {
    place-items: center;
    justify-content: center;
}